/* 
##Device = Tablets, Ipads (landscape)
##Screen = B/w 768px to 1024px
*/
  
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .Info {
        margin-left: 100px;
    }

    .form-container {
        margin-left: 10px;
        height: 420px;
    }

    .faq-section {
        max-width: 600px;
      }
}



/* 
##Device = Low Resolution Tablets, Mobiles (Landscape)
##Screen = B/w 481px to 767px
*/
  
@media (min-width: 481px) and (max-width: 767px) {
    .Fondo {
        height: 700px;
    }

    .Info {
        margin-top: 50px;
        margin-left: 40px;
        width: 100%;
        flex-direction: column;
    }

    .descripción {
        margin-top: 0px;
        width: 90%;
    }

    .form-container {
        margin-top: 20px;
    }

    .Cursos {
        margin-left: 30px;
    }

    .card {
        margin-right: 50px;
        height: 490px;
    }
    
    .card::before {
        display: none;
    }

    .faq-section {
        max-width: 550px;
        margin: 20px;
    }
}



/* 
##Device = Most of the Smartphones Mobiles (Portrait)
##Screen = B/w 320px to 479px
*/
  
@media (min-width: 320px) and (max-width: 480px) {
    .Fondo {
        height: 720px;
    }

    .Info {
        margin-top: 30px;
        margin-left: 15px;
        flex-direction: column;
    }

    .descripción {
        margin-top: 0px;
        width: 100%;
    }
    
    .form-container {
        width: 325px;
        height: 420px;
        margin-top: 20px;
    }

    .Cursos {
        margin-left: 20px;
    }

    .card {
        margin-right: 50px;
        height: 560px;
    }

    .card::before {
        display: none;
    }

    .faq-section {
        max-width: 350px;
        margin: 20px;
    }    
}